<section class="search">
    <div class="search-wrapper">
        <input type="text" name="search" class="search-input" placeholder="Search for an organization by name, city, interest or action" aria-label="Search">
        <ul class="search-dropdown"></ul>
        <button class="toggle-filters"><i class="fa fa-sliders"></i> Filters</button>
    </div>
	<section class="filters-all">
	    <div>
	<!--         <div class="filters-controls">
	            <button class="toggle-filters"><i class="fa fa-sliders"></i> Filters</button>
	            <button class="clear-filters"><i class="fa fa-times"></i> Clear</button>
	        </div> -->
	        <div class="filters-all-content">
	            <div class="filters filters-categories"></div>
	            <div class="filters filters-subcategories"></div>
	            <div class="filters filters-accepting"></div>
	            <!-- <div class="filters-group">
	                <div class="filters filters-flags">
	                    <button data-flag="deductible">Tax Deductible</button>
	                    <button data-flag="accredited">Accredited Business</button>
	                </div>
	                <div class="filters filters-rating">
	                    <button>Sort by Charity Navigator Score</button>
	                </div>
	            </div> -->
	            <div class="filters filters-services"></div>
	        </div>
	    </div>
	</section>
</section>
    