<footer class="site-footer">
    <p class="text">
        {{ site.footer_text | default: "Sponsored by <a href='https://delegacion.aragon.csic.es/'>CSIC Aragon</a>, <a href='https://www.csic.es/en'>CSIC</a>, <a href='https://stara.rseq.org/'>STARA-RSEQ</a>, <a href='https://www.ciencia.gob.es/en/'>MCIN</a> and <a href='https://next-generation-eu.europa.eu/index_en'>NextGenerationEU</a>.</a> <br><br>
        <img src='../assets/img/sponsors/sponsors.png' />
        " }}</p>
            <div class="footer-icons">
                <ul>
                <!-- Social icons from Font Awesome, if enabled -->
                {% include social/icons.liquid %}
                </ul>
            </div>
</footer>


