{% assign images = include.images | split: ',' %}

{% if include.column == "auto" %}
{% assign column = 100.0 | divided_by: images.size %}
{% elsif include.column > 0 %}
{% assign column = 100.0 | divided_by: include.column %}
{% endif %}

<div class="row">
    {% for image in images %}
    <div {% if column %} style="flex: {{ column }}%" {% else %} class="column" {% endif %}  >
        <img {% if images.size == 1 %}class="single"{% endif %}
             src="{{ image | prepend: 'assets/img/' | relative_url }}"
             alt="{{ image | prepend: '/' | split: '/' | last }}">
    </div>
    {% endfor %}
</div>

{% assign column = false %}
