{% if paginator.total_pages > 1 %}
<div class="pagination" style="display: inline-block;">
    <div class="previous">
    {% if paginator.previous_page %}
        <!-- << -->
        {% if paginator.previous_page != 1 %}
        <a alt="{{ site.theme_settings.str_previous_page }}"
           href="{{ '/' | relative_url }}" style="margin-right:0" class="button">
          <i class="fa fa-angle-double-left"></i>
        </a>
        {% endif %}   
        <!-- < previous -->
        <a href="{{ paginator.previous_page_path | relative_url }}" {% if paginator.previous_page != 1 %}style="margin-left:0.1em"{% endif %} class="button">
          <i class="fa fa-chevron-left"></i>
          {{ site.theme_settings.str_previous_page }}
        </a>
    {% endif %}
    </div>            

    <div class="next">
    {% if paginator.next_page %}
        <!-- next > -->
        <a alt="{{ site.theme_settings.str_next_page }}" 
           href="{{ paginator.next_page_path | relative_url }}" {% if paginator.next_page != paginator.total_pages %}style="margin-right:0"{% endif %} class="button">
          {{ site.theme_settings.str_next_page }}
          <i class="fa fa-chevron-right"></i>
        </a>
        <!-- >> -->
        {% if paginator.next_page != paginator.total_pages %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}" style="margin-left:0.1em" class="button">
          <i class="fa fa-angle-double-right"></i>
        </a>
        {% endif %}
    {% endif %}
    </div>     
</div>
{% endif %}