<div id="cookie-notice"><span>{{ site.cookie_consent_disclaimer
  | default: 'We would like to use third party cookies and scripts to improve the functionality of this website.' }}
</span><a id="cookie-notice-accept" class="button">Approve</a>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script>
  function createCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) === ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  if(readCookie('cookie-notice-dismissed')==='true') {
    {% if site.google_analytics %}
      // Google tag manager
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
      // Google analytics
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    {% endif %}
  } else {
    document.getElementById('cookie-notice').style.display = 'block';
  }

  document.getElementById('cookie-notice-accept').addEventListener("click",function() {
    createCookie('cookie-notice-dismissed','true',31);
    document.getElementById('cookie-notice').style.display = 'none';
    location.reload();
  });

</script>
