<style>
/* force scrollbar */
html { overflow-y: scroll; }
    
/* To overwrite page's padding, to get bigger images */
/* article {padding:2%;} */

</style>

<div id='masonry' class="grid">
<div class="grid-sizer"></div>
<div class="gutter-sizer"></div>
{% for image in site.static_files %}
  {% if image.path contains include.gallery_path %}
    
        <img src="{{ image.path | relative_url }}" alt="" class="grid-item" style="padding: 0;">
      
  {% endif %}
{% endfor %}
</div> 

<!-- Require JQuery >= 3.2.1 Requireas well -->
<script src="{{ "/assets/js/vendor/masonry.pkgd.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/vendor/imagesloaded.min.js" | relative_url }}" type="text/javascript"></script>