<header class="bootstrap-iso site-header">
<!-- Navigation -->
<nav class="navbar-default navbar-custom navbar-fixed-top" style="box-shadow: none;">
    
    <div class="container-fluid">
        <div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="navbar-img" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="navbar-img" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
        <!-- links get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navi">
            {% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
            <!--
            <li>
                <a href="/page/search/" class="bootstrap-iso nav-search-link" title="search">
                        <i class="fa fa-search fa-fw fa-lg nav-search-icon" style="vertical-align: text-top;"> </i>
                    </a>
            </li>--> 
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</header>