<header class="site-header">
	<div class="branding">


		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | relative_url }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>
