<!-- Portfolio Grid Section -->

<div class="portfolio-grid">
    {% for item in site.portfolio %}
    <div class="portfolio-cell">
        <a href="{{ item.url | relative_url }}" class="portfolio-link" data-keyboard="true">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="{{ item.img | relative_url }}" class="" alt="">
        </a>
    </div>
    {% endfor %}
</div>
