{% assign page = include.page %}

<header id="main" style="">
    <div class="title-padder">
        {% if page.hide_title %}
        <div class="feature-image-padding"></div>
        {% else %}
        <h1 id="{{ page.title | cgi_escape }}" class="title">{{ page.title }}</h1>
        {% if include.is_post %}
        {% include post_info.html author=page.author date=page.date %}
        {% else %}
        {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        {% endif %}
        {% endif %}
    </div>
</header>

<!-- To change color of links in the page -->
<style>
    {% if page.color %}
    .feature-image a { color: {{ page.color }} !important; }
    div#post-nav a { color: {{ page.color }} !important; }
    footer a { color: {{ page.color }} !important; }
    .site-header nav a:hover {  color: {{ page.color }} !important; }
    header#main { background-color: {{ page.color }} !important; }
    {% endif %}

    header#main {
        background-repeat:no-repeat;
    {% if page.feature-img %} background-image: url('{{ page.feature-img | relative_url }}');
    {% elsif page.color %}    background-image: url('{{ site.color_image | relative_url }}');  {% endif %}
    }
</style>
