<!-- Portfolio Grid Section -->
<div class="portfolio-grid">
  {% for item in site.program %}
  <div class="portfolio-cell">
    <a
      class="portfolio-link"
      data-keyboard="true"
      href="{{ item.url | relative_url }}"
    >
      <div class="caption">
        <div class="caption-content">
          <div>{{item.title}}</div>
          <span>{{item.subtitle}}</span>
        </div>
      </div>
      <img alt="" class="" src="{{ item.img | relative_url }}" />
    </a>
  </div>
  {% endfor %}
</div>
