<!-- cycles through posts to get categories -->
{% assign rawCategories = "" %}
{% for post in site.posts %}
	{% if post.display != "false" %}
		{% if post.categories != "" %}
			{% assign post_categories = post.categories | join:'|' | append:'|' %}
			{% assign rawCategories = rawCategories | append:post_categories %}
		{% endif %}
	{% endif %}
{% endfor %}

{% assign categories = rawCategories | split:'|' | sort | uniq %}

<div>
	<div>
		<h1>Categories</h1>
	</div>
  	{% if categories.size > 0 %}
   	  <div class="tag-list">
	  {% for category in categories %}
	  		{% if category != "" %}
		    <a class="button" href="{{site.baseurl}}/tags#{{category}}">
				<span class="name">{{ category }}</span> 
		    </a>
			{% endif %}	    
	  {% endfor %}
      </div>
  {% endif %}
</div>