<script type="text/javascript">
	$(document).ready(function(){
		var cate = $("#cate").val();
		categoriesCount(cate);
	});
	
	function categoriesCount(data){
		data = data.substr(0, data.length - 1) || "";
		
		if(data != ""){
			var dataObj = data.split("|");
			
			var tmp = new Array();
			
			for(var i=0; i<dataObj.length; i++){
				var data = dataObj[i];

				var count = tmp[data] || 0;
				
				tmp[data] = count + 1;
			}
			
			for(var cate in tmp){
				var key = cate;
				var value = tmp[key];
				var id = "#count_" + key;
				$(id).text(value);
			}
		}
	}
</script>

<!-- cycles through posts to get categories, tags -->
{% assign rawCategories = "" %}
{% assign rawtags = "" %}
{% assign postCount = 0 %}

{% for post in site.posts %}
	{% if post.display != "false" %}
		{% if post.categories != "" %}
			{% assign post_categories = post.categories | join:'|' | append:'|' %}
			{% assign rawCategories = rawCategories | append:post_categories %}
			
			{% assign post_tags = post.tags | join:'|' | append:'|' %}
			{% assign rawtags 	= rawtags | append:post_tags %}
		{% endif %}
	{% endif %}
{% endfor %}

{% assign categories = rawCategories | split:'|' | sort | uniq %}
{% assign tags = rawtags | split:'|' | sort | uniq %}

<div>
	<div>
		<h1>Categories</h1> 
	</div>
	
  	{% if categories.size > 0 %}
   	  <div class="categories-list">
	  {% for category in categories %}
	  		{% if category != "" %}
	  			<div class="category-area">
				    <a href="{{site.baseurl}}/categories#{{category}}">
						<span class="name">{{ category }}</span> 
						<span class="categoryCount" id="count_{{category}}"></span>
				    </a>
		    	</div>
			{% endif %}	    
	  {% endfor %}
      </div>
  {% endif %}
</div>

<div>
	<div>
		<h1>Tags</h1>
	</div>
  	{% if tags.size > 0 %}
   	  <div class="tag-list">
	  {% for tag in tags %}
		    <a class="button" href="{{site.baseurl}}/tags#{{tag}}">
				<span class="name">{{ tag }}</span> 
		    </a>
	  {% endfor %}
      </div>
  {% endif %}
</div>


<input type="hidden" value="{{rawCategories}}" id="cate">