{% assign tags = include.tags | split:'|' | sort | uniq %}

{% if tags.size > 0 %}
<footer>
  <div class="tag-list">
    {% if tags.size == 1 %}
      <div class="meta">Tag</div>
    {% else %}
      <div class="meta">Tags</div>
    {% endif %}

    {% for tag in tags %}
    <a class="button" href="{{ "/tags" | relative_url }}#{{ tag | cgi_escape }}">
      <p><i class="fa fa-tag fa-fw"></i> {{ tag }}</p>
    </a>
    {% endfor %}
  </div>
</footer>
{% else %}
<footer>
  <div class="tag-list"></div>
</footer>
{% endif %}