---
---

@font-face {
  font-family: 'LiShobuj';
  src: url('/assets/fonts/custom/LiShobujNolua.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/custom/Nunito-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "type-on-strap";

body {
  font-family: 'LiShobuj', 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', 'LiShobuj', sans-serif;
}

p, li, td, blockquote {
  font-family: 'LiShobuj', 'Nunito', sans-serif;
}