// Header text feature
.call-out {
    @extend %padding-medium;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    background: $header-desc-background-color no-repeat;
    background-size: $feature-image-size;

    /* --- Responsive --- */
    @media screen and (max-width: 850px) {
        background-size: 100% auto;
    } 
    
    //For white images
    p,
    a,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @extend .header-txt-shadow;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#main {
    background-position: 100% 0, 0 center, center top;
    

}

header {
    text-align: center;
}

// Post listing
.posts {
    #page-title {
      margin-top: 1%;
    }    
    hr {
      width: 70%;
      margin-left: 15%;
    } 
    .continue-reading {
      text-align: center;
    }
    text-align: center;
    .post-teaser {

        @extend %padding-regular;
        width: 70%;
        box-shadow: 0 0.6rem 4rem rgba(0,0,0,0.08);

        .info {
            text-align: left;
            @media (min-width: $break) {
               width: 70%;
               float: right;
            } //Smaller screen
            @media screen and (max-width: $break) {
               width: 80%;
               margin: auto;
            }
            
            h2, h4 {
              margin: 1px;
            }
            
        }

        display: inline-block;
        background-size: $feature-image-size;
        border-bottom: 1px solid $border-color;
        padding: 2% 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        p a {
            @extend .body-link;
        }
        img {
            padding: 0;
            border-radius: 5%;    
            width: 100%;
            height: 100%;
        }

        .post-img {
            max-width: 250px;
            @media (min-width: $break) {
                margin-left: 1%;
                float: left;
                width: 25%;
            } //Smaller screen
            @media screen and (max-width: $break) {
                width: 80%;
                margin: auto;
            }
        }

    }
    .excerpt {
        text-align: left;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}


// Pagination
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
    @media (max-width: 600px) {
        padding: $padding-small;
    }

    .button {
        margin: 0 1.5em;
        i {
            vertical-align: middle;
        }
    }

}
