.site-footer {
  @extend %padding-post;
  z-index: -1;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--gray5);
  font-size: 0.9em;

  .footer-icons {
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;
      }
    
      a {
        color: var(--blue);
      }

      @media (prefers-color-scheme: dark) {
        a {
         color: var(--gray5);
        }
      }

      a:hover {
        color: var(--blue);
        filter: brightness(0.85);
      }
    }
  }
}
