.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 50%);
    font-size: 0.7em;

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
}
