.navbar-default {
    border: 0;
    background: $brand-color;
    -webkit-box-shadow: none;
    box-shadow: none;

    .navbar-collapse {
        border: 0;
        background: $brand-color;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

// img
.navbar-img {
  float: left;
  margin-left: -15px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 0.8;
  height: 60px;
}

//
.container-fluid {
  background: $brand-color; 
}

// toggled navbar
.site-header .toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 13px 10px;
  margin-top: 9px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #dddddd;

  &:focus {
    outline: 0;
    background-color: #dddddd;
  }
    
  &:hover {
    background-color: #dddddd;  
  }
 
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888888;
      
    + .icon-bar {
      margin-top: 4px;
    }
  }
    
  @media (min-width: $break) {
    display: none;
  }
}

//nav bar
.navi {
  list-style: none;
    
  ul {
    float: right;
    text-align: right;
    }


  @media (min-width: $break) {
    float: right;
    margin: 0;
  
    li {
        display: inline;
        float: left;
    
        a {
            display: inline-block;
            padding-right: 14px;;
            line-height: 1.2;
            padding-top: 15px;
        }
  }
}
}