%link-decoration {
    text-decoration: none;
    color: #66a992;
}
/*----- Toggle Button -----*/

.toggle-nav {
    display: none;
}

/*----- Branding -----*/

.navbar-branding {
    .site-title {
        float: left;
        font-weight: bold;
        font-size: 1em;
        line-height: 0.8;
    }

    .navbar-img {
        float: left;
        padding: 10px 15px;
        font-size: 18px;
        line-height: 0.8;
        height: 60px;
    }
}

/*----- Menu -----*/

.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.menu {
    @media screen and (min-width: 860px) {
        width: 100%;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
    }

    ul {
        display: inline-block;
    }
    li {
        margin: 0px 50px 0px 0px;
        float: right;
        display: inline;
        list-style: none;
        font-size: 17px;
        &:last-child {
            margin-right: 0px;
        }
    }
    a {
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        color: #777;
        transition: color linear 0.15s;
        &:hover {
            @extend %link-decoration;
        }
    }
    .item a {
        @extend %link-decoration;
    }
}
/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
    .wrap {
        width: 90%;
    }
}
@media screen and (max-width: 860px) {
    .menu {
        position: relative;
        display: inline-block;
        
        ul {
            width: 100%;
            position: absolute;
            top: 120%;
            left: 0px;
            padding: 10px 18px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            background: #303030;

            &.active {
                display: none;
            }

            &:after {
                width: 0px;
                height: 0px;
                position: absolute;
                top: 0%;
                left: 22px;
                content: '';
                transform: translate(0%, -100%);
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #303030;
            }
        }

        li {
            margin: 5px 0px 5px 0px;
            float: none;
            display: block;
        }

        a {
            display: block;
        }
    }

    .toggle-nav {
        padding: 20px;
        float: left;
        display: inline-block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        background: #303030;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        color: #777;
        font-size: 20px;
        transition: color linear 0.15s;
        
        &:hover,
        &.active {
            text-decoration: none;
            color: #66a992;
        }
    }
}
