// Header text feature
.call-out {
    @extend %padding-medium;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    background: $header-desc-background-color no-repeat;
    background-size: $feature-image-size;

    /* --- Responsive --- */
    @media screen and (max-width: 850px) {
        background-size: 100% auto;
    } 
    
    //For white images
    p,
    a,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @extend .header-txt-shadow;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#main {
    background-position: 100% 0, 0 center, center top;
}

// Post listing
.posts {
    text-align: center;
    .post-teaser {

        @extend %padding-regular;
        width: 70%;
        border-radius: 20px;
        box-shadow: 0 0.6rem 4rem rgba(0,0,0,0.08);

        .info {
            text-align: left;
            float: right;
            width: 70%;
        }

        display: inline-block;
        background-size: $feature-image-size;
        border-bottom: 1px solid $border-color;
        padding: 2% 2%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        p a {
            @extend .body-link;
        }
        img {
            padding: 0;
            border-radius: 50%;
            height: 250px;
            width: 250px;            
        }

        .post-img {
            float: left;
            @media (min-width: $break) {
                height: 250px;
                width: 250px;
            } //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
                width: 150px;
            }
        }

    }
    .excerpt {
        text-align: left;
        margin-top: 1em;
    }
}

// Pagination
.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
    @media (max-width: 600px) {
        padding: $padding-small;
    }

    .button {
        margin: 0 1.5em;
        i {
            vertical-align: middle;
        }
    }

}
