.tag-list {
  width: 100%;
  font-size: 0.9em;
  a.button {
    margin: 0.1em;
    padding: 0.2em 0.4em;
  }
    
.tag {
    margin-right: 0.5em;
    color: $tags-color;
  }
}
.tag-title {
  margin-bottom: 0;
  a {
    color: $link-color;
    
      &:hover {
          text-decoration: none;
      }
  }
}
.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
}