* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// For correct line number width in Github Gists
.gist table tbody tr td {
    box-sizing: content-box;
}

html {
    background: $background-color;
}

// Typography
::selection {
    background: $selection-color;
}

::-moz-selection {
    background: $selection-color;
}

body {
    color: $text-color;
    font-family: $font-family-main;
    font-size: $font-size;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    line-height: 1.3;
    margin: 0.67em 0;
    a {
        color: $text-color;
    }
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

blockquote {
    border-left: 2px solid darken($blockquote-color, 20%);
    margin: 1em 1em;
    padding: 0.75em 1em;
    background-color: $blockquote-color;
    box-shadow: 0 2px 2px $border-color;
}

blockquote p:last-child,
footer p:last-child {
    margin-bottom: 0;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    display: inline-block;
}

td,
th {
    padding: 0.5em 1em;
    border: 1px solid $border-color;
    text-align: left;
}

table,
dl,
kbd,
samp {
    margin: 1em 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

p,
ol,
ul,
dl,
.math-display {
    line-height: 1.5;
    margin-bottom: 1em;
}

// KaTeX math display
.math-display {
    display: inline-block;
    width: 100%;
}

// Lists within lists
li {
    p {
        display: inline;
    }
    & > ul,
    & > ol {
        margin-bottom: 0;
        margin-left: 1em;
    }
}

ol,
ul {
    list-style-position: outside;
    margin-left: 1em;
}

hr {
    border: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: #0076df;
    text-decoration: none;
}

iframe,
img,
embed,
object,
video {
    max-width: 100%;
    padding: 0 10%;
}

img[align=left] {
    margin-right: 3%;
}

img[align=right] {
    margin-left: 3%;
}

figure {
    display:block;
    margin: 20px; /* adjust as needed */
    margin: 0;
    text-align: center;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.postimage {
  width: 100%;
  height: auto;
  margin: auto;
}

.postimage_unpadded {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.postimagesmall {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.postimageactual {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.postimagesmaller {
  width: 75%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.postimage_75 {
  width: 75%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimage_50 {
  width: 50%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimage_25 {
  width: 25%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimagehalf {
  width: 49%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagequarter {
  width: 24%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

/* ---- Responsive ---- */

@media screen and (max-width: $break) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.1em;
    }
    p,
    li {
        font-size: 1em;
    }
}
