---
layout: page
title: Tags
permalink: /tags/
---

<div class="home">

<!-- cycles through posts to get tags -->
{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign post_tags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:post_tags %}
{% endfor %}

<!-- cycles through portfolio collection to get tags -->
{% assign portfolio =  site.portfolio | map: 'tags' | join: ','  | split: ',' | uniq %}
{% for tag in portfolio %}
{% assign ttags = tag | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

<!-- Displays the list of tags-->
{% assign tags = rawtags | split:'|' | sort | uniq %}
    <div class="tag-list">
        {% for tag in tags %}
        <a class="button" href="#{{ tag | cgi_escape }}">
              <i class="fa fa-tag fa-fw"></i> {{ tag }}
        </a>
        {% endfor %}
    </div>
    <br>

    <!-- Displays the posts and pages that contains the tag-->
    <div class="posts">
        {% for tag in tags %}
        <h3 id="{{ tag | cgi_escape }}" class="tag-anchor"><a href="#{{ tag | cgi_escape }}">{{ tag }} <i class="fa fa-tag fa-fw"></i></a></h3>

        <div class="tag-posts">

            <!-- Posts -->
            {% for post in site.posts %} 
                {% if post.tags contains tag %}
                <h5 class="title">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                      </a>
                </h5>
                <div class="meta">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
                {% endif %} 
            {% endfor %} 
            
            <!-- Portfolio -->
            {% for note in site.portfolio %} 
                {% if note.tags contains tag %}
                <h5 class="title">
                    <a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a>
                </h5>
                <div class="meta">
                    {{ note.date | date: "%B %-d, %Y" }}
                </div>
                {% endif %} 
            {% endfor %}

        </div>
        {% endfor %}

    </div>
</div>
