<header>

<nav class="navbar">
    
    <!-- Branding, image + title -->
    <div class="navbar-branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="navbar-img" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
            {% elsif site.theme_settings.avatar %}
            <a href="{{ site.baseurl }}/">
                <img class="navbar-img" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
            </a>
		{% endif %}
        
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
    
    <!-- Navigation links -->
    <div id="navbar-links">
        <ul class="navi">
            {% for page in site.pages %}
            {% if page.title and page.hide != true %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            <!--<li>
                <a href="/page/search/" class="bootstrap-iso nav-search-link" title="search">
                    <i class="fa fa-search fa-fw fa-lg nav-search-icon" style="vertical-align: text-top;"> </i>
                </a>
            </li>--> 
        </ul>
        
        <!-- Responsive group icon -->
        <i class="fa fa-bars"></i>
        
        <div class="navbar-button">
            <button type="button" class="icon" onclick="toggle()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
        </div>
        
    </div>

</nav>
</header>