---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
    </div>
<hr>
<br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">General information</H3>
<p align="center">
<img src="../assets/img/microcred_info.png" width="1100" style="margin-top:10px;margin-bottom:10px;"></img>
</p>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Presentation</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
Nowadays, there is a significant demand for computational chemists with knowledge of 
artificial intelligence, automation and cheminformatics. The proposed micro-credential aims to address this 
demand and provide the new generations of computational chemists with the necessary 
knowledge on these topics.<br> <br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Description</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
This micro-credential combines the basics of machine learning and cheminformatics with the most 
relevant cutting-edge examples in these fields. The topics covered were especially 
chosen for computational chemists aiming to learn about these subjects.<br> <br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Target audience</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
This micro-credential is aimed at MSc/PhD students, postdoctoral researchers, and university 
professors with prior experience in computational chemistry who are interested in learning or 
expanding their knowledge of machine learning, automation, and cheminformatics. Participants are 
recommended to have basic knowledge of programming or experience with Linux.<br> <br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Methodology</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
The program will be delivered in-person through theoretical classes, hands-on sessions and seminars.<br> <br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Evaluation</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
The attendance of students will be taken into account, as well as their participation in the 
final session on the automation of custom workflows.<br> <br>
<H3 align="justify", style="margin-left:60px;margin-right:60px;">Directors and contact</H3>
<p align="justify", style="margin-left:60px;margin-right:60px;">
Juan Alegre (<a href="mailto:jv.alegre@csic.es">jv.alegre@csic.es</a>) and David Dalmau (<a href="mailto:ddalmau@unizar.es">ddalmau@unizar.es</a>).
</p>
    {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
    {{ _blog | split: " " | join: " "}}
</div>
