---
layout: default
---
<!-- 
	header txt, background
-->

<style type="text/css">
.jqClud{
	    font: 10px Helvetica,Arial,sans-serif;
    line-height: normal;
    overflow: hidden;
    position: relative;

}
#wordCloud>span{cursor: pointer;}
</style>

<article {% if page.feature-img %}class="feature-image"{% endif %} >
  {% if page.layout == 'tags' %}
  	<header id="main" style="padding: 0; width: 100%; height: 500px; margin: 10% 0;">
  		<div id="wordCloud" class="jqColowe" style="width: 100%; height: 100%;">
  		</div>
  	</header>
  {% else %}
	<header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')" >
	    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
	        {{ page.title }}
	    </h1>
	    
	    {% if page.subtitle %}
	    <h2 class="subtitle">{{ page.subtitle }}</h2>
	    {% endif %}
	      
	  </header>
  {% endif %}
   
  <section class="post-content">{{ content }}</section>
    
    
  <!-- Tag list for portfolio -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include tags_list.html tags=tag_list %}
    
</article>
