---
layout: default
jsarr:
- js/quotes/ICanHaz.js
- js/quotes/jquery.js
- js/quotes/site.js
- js/quotes/tabletop1.3.4.js
---

<ul class="nav">
	<li><strong>Read more from #MoreThanCode</strong></li>
	<li>Powered by @jlord's Lending Library</li>
	<li><a href="#info">Learn more</a></li>
</ul>

<div id="filters" class="container">
	<input id="toolSearch" type="search" placeholder="Search for something..."></input>
	<form name="catSearchForm">
		<input list="catSearch" placeholder="Explore a category">
		<datalist id="catSearch">
			<option data-value="ecosystem">Ecosystem</option>
			<option data-value="demographics">Demographics</option>
			<option data-value="practitioner experiences">Practitioner Experiences</option>
			<option data-value="Stories of Success and Failure">Stories of Success and Failure</option>
			<option data-value="Visions and Values">Visions and Values</option>
			<option data-value="Role of technology in the work">Role of technology in the work</option>
			<option data-value="Unsung s/heroes">Unsung s/heroes</option>
			<option data-value="Funding and Resourcing">Funding and Resourcing</option>
			<option data-value="Pathways, Barriers, and Support">Pathways, Barriers, and Support</option>
			<option data-value="Community Accountability">Community Accountability</option>
			<option data-value="Stories of Failure">Stories of Failure</option>
			<option data-value="Stories of Success">Stories of Success</option>
		</datalist>
			</input>
	</form>

	<span class="clear sml-button">Clear</span>
</div>
<div id="tools" class="container"><span class="flash animated">LOADING...</span></div>
<div id="info" class="container">
	<div class="span1">
		<h4>#MoreThanCode</h4>
		<p>Add info about the report here.</p>
		<p></p>

		<p>More details about this project <a href="https://t4sj.co" target="_blank">here</a>.

	</div>

	<div class="span1">
		<h4>Fork this Project</h4>
		<p>The site is open source (free for all), uses a Google Spreadsheet for the data and is designed to be duplicated and live in minutes (Fork-n-go!). You can set up your own by following the instructions attached to the  <a href="http://www.github.com/jlord/lending-library" target="_blank">project's code</a> on GitHub. GitHub also hosts these pages for free with <a href="http://pages.github.com" target="_blank">GitHub Pages</a>.

		<p>
			<a class="imglink" href="http://jlord.github.io/forkngo" target="_blank">
				<img src="https://raw.githubusercontent.com/jlord/forkngo/gh-pages/badges/charcoal.png" width="200">
			</a>
		</p>

		<p>Built by <a href="http://www.twitter.com/jllord">@jllord</a>.

	</div>
</div>
<script src="{{ "assets/quotes/ICanHaz.js" | relative_url }}"></script>
<script src="{{ "assets/quotes/jquery.js" | relative_url }}"></script>
<script src="{{ "assets/quotes/site.js" | relative_url }}"></script>
<script src="{{ "assets/quotes/tabletop1.3.4.js" | relative_url }}"></script>
<script id="tools" type="text/html">
	{{#rows}}
	<div id="{{rowNumber}}" class="tool-box cat-{{categoryid}}">
		<span class="quote-heading">{{description}}</span>
		<div class="tool-box-bottom {{rowNumber}}">
			<ul>
				<li class="quote">{{quote}}</li>
				<li><strong>{{interviewee}}{{#title}}, {{title}}{{/title}}</strong></li>
				<li class="category"><small>{{category}}{{#category2}}, {{category2}} {{/category2}}</small></li>
				<li><a href="https://opentechinstitute.github.io/t4sjquotes/#{{id}}"><small>LINK</small></a></li>
			</ul>
		</div>
	</div>
	{{/rows}}
</script>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	var URL = "1p3GZXaC51wxG030eQBGC4KRPwSBz20oiPI2lfpL7Azw"
	Tabletop.init( { key: URL, callback: initialize, simpleSheet: true } )
	})
</script>
