/* TYPOGRAPHY */
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-logo: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

$monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif !default;
$font-size-code: 0.85em !default;
$font-height-code: 1.3em !default;
$border-radius: 4px !default;

/* PADDING */
$padding-x-large: 23%;
$padding-large: 9%;
$padding-medium: 6%;
$padding-small: 4%;
$padding-x-small: 3%;
$title-padding: 1%;
$feature-image-padding: 10%;

/* MOBILE */
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 300px;

/* COLOR SCHEMES */
/* Load by default dark scheme in systems supporting 'prefers-colors-scheme: dark'
and load light theme otherwise. Also support switching through schemes by a button. */
html, html[data-theme="light"] {
    --gray0:   #ffffff; //
    --gray1:   #3f3f3f; //
    --gray2:   #373e47; //
    --gray3:   #444c56; //
    --gray4:   #d4d4d4; //
    --gray5:   #595959; //
    --gray6:   #383838; //
    --gray7:   #262626; //
    --gray8:   #ffffff; //
    --gray9:   #ffffff; //
    --red:     #d40059; //
    --orange:  #3f3f3f; //
    --yellow:  #d9b600; //
    --green:   #6bac00; //
    --blue:    #337ab7; //
    --magenta: #b37eff; //
    --cyan:    #00af9e; //
    --pink:    #ff66c2; //
    --border:  rgba(0, 0, 0, 0.1); //
}

html[data-theme="dark"] {
    --gray0:   #22272e; // brand, background
    --gray1:   #2d333b; // text shadow
    --gray2:   #373e47; // blockquote
    --gray3:   #444c56; //
    --gray4:   #545d68; // selection
    --gray5:   #909dab; // meta
    --gray6:   #adbac7; // header link, search color
    --gray7:   #cdd9e5; // text
    --gray8:   #e7f3f4; // header text, feature img text
    --gray9:   #ffffff; //
    --red:     #d40059; //
    --orange:  #ff5c00; //
    --yellow:  #d9b600; //
    --green:   #6bac00; //
    --blue:    #00a8e0; // theme, link, link shadow header bg
    --magenta: #b37eff; //
    --cyan:    #00af9e; //
    --pink:    #ff66c2; //
    --border: rgba(0, 0, 0, 0.1); // border
}

/* BASE16 HIGHLIGHT*/
$base00: #373e47; // Default Background
$base01: #444c56; // Lighter Background (Used for status bars, line number and folding marks)
$base02: #545d68; // Selection Background
$base03: #909dab; // Comments, Invisibles, Line Highlighting
$base04: #adbac7; // Dark Foreground (Used for status bars)
$base05: #cdd9e5; // Default Foreground, Caret, Delimiters, Operators
$base06: #e7f3f4; // Light Foreground (Not often used)
$base07: #ffffff; // Light Background (Not often used)
$base08: #d40059; // Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
$base09: #ff5c00; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0a: #d9b600; // Classes, Markup Bold, Search Text Background
$base0b: #6bac00; // Strings, Inherited Class, Markup Code, Diff Inserted
$base0c: #00a8e0; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #b37eff; // Functions, Methods, Attribute IDs, Headings
$base0e: #00af9e; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0f: #ff66c2; // Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

// base16 Material Theme
$base00: #302f2d !default; // Default Background
$base01: #2E3C43 !default; // Lighter Background (Used for status bars) - NOT USED
$base02: #314549 !default; // Selection Background
$base03: #546E7A !default; // Comments, Invisible, Line Highlighting
$base04: #B2CCD6 !default; // Dark Foreground (Used for status bars) - NOT USED
$base05: #EEFFFF !default; // Light Foreground (Not often used)
$base06: #EEFFFF !default; // Light Background (Not often used)
$base07: #FFFFFF !default; // Default Foreground, Default text color
$base08: #F07178 !default; // Parenthesis, Caret, Delimiters, Operators
$base09: #F78C6C !default; // Classes, Markup Bold, Search Text Background
$base0a: #FFCB6B !default; // Strings, Inherited Class, Markup Code, Diff Inserted
$base0b: #98C379 !default; // Functions, Methods, Attribute IDs, Headings
$base0c: #89DDFF !default; // Support, Regular Expressions, Escape Characters, Markup Quotes
$base0d: #82AAFF !default; // Keywords, Storage, Selector, Markup Italic, Diff Changed
$base0e: #C792EA !default; // Integers, Boolean, Constants, XML Attributes, Markup Link Url
$base0f: #FF5370 !default; // Deprecated, Opening/Closing Embedded Language Tags e.g.
